<div class="pageDiv" th:fragment="html">
	<nav>
	  <ul class="pagination">
	    <li :class="{ disabled: pagination.showFirstPage}">
	      <a  href="#nowhere" @click="jump('first')">&lt;&lt;</a>
	    </li>
	    <li :class="{ disabled: !pagination.showPrvious }">
	      <a  href="#nowhere" @click="jump('pre')">&lt;</a>
	    </li>		    

		<li  v-for="i in pagination.pages">
			<a href="#nowhere" @click="jumpByNumber(i-1)" >
				{{i}}
			</a>
		</li>

	    <li :class="{ disabled: !pagination.showNext }">
	      <a  href="#nowhere" @click="jump('next')">&gt;</a>
	    </li>
	    <li :class="{ disabled: pagination.showEndPage }">
	      <a  href="#nowhere" @click="jump('last')">&gt;&gt;</a>
	    </li>		    
	  </ul>
	</nav>    
</div>
