<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('订单管理')">
<meta charset="UTF-8">
</head>
<body>
	<div th:replace="include/admin/adminNavigator::html"></div>
	<script type="text/javascript">
		$(function() {
			var data4Vue = {
				uri : 'orders',
				beans : [],
				pagination : {}
			};

			var vue = new Vue({
				el : '#workingArea',
				data : data4Vue,
				mounted : function() {
					this.list(1);
				},
				methods : {
					list : function(start) {
						var url = this.uri + "?start=" + start;
						axios.get(url).then(function(response) {
							debugger;
							vue.pagination = response.data;
							vue.beans = vue.pagination.data;
						});
					},
					showOrderItems : function(order) {
						var id = order.id;
						$("#orderItemsTR" + id).show();
					},
					deliveryOrder : function(order, e) {
						var url = "deliveryOrder/" + order.id;
						axios.put(url).then(function(response) {
							$(e.target).hide();
						});
					},
					jump : function(page) {
						jump(page, vue);
					},
					jumpByNumber : function(start) {
						jumpByNumber(start, vue);
					}
				}
			});

			Vue.filter('formatDateFilter', function(value, formatString) {
				if (null == value) {
					return "";
				}
				formatString = formatString || 'YYYY-MM-DD HH:mm:ss';
				return moment(value).format(formatString);
			});
			

		})
	</script>
	<div id="workingArea">
		<h1 class="label label-info">订单管理</h1>
		<br> <br>
		<div class="listDataTableDiv">
			<table
				class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>状态</th>
						<th>金额</th>
						<th width="100px">商品数量</th>
						<th width="100px">买家昵称</th>
						<th>创建时间</th>
						<th>支付时间</th>
						<th>发货时间</th>
						<th>确认收货时间</th>
						<th width="120px">操作</th>
					</tr>
				</thead>
				<tbody>
					<template v-for="bean in beans">
					<tr>
						<td>{{bean.status}}</td>
						<td>{{bean.totalAmount}}</td>
						<td>{{bean.totalNumber}}</td>
						<td>{{bean.userDTO.name}}</td>
						<td>{{bean.createdate | formatDateFilter}}</td>
						<td>{{bean.paydate | formatDateFilter}}</td>
						<td>{{bean.deliverydata | formatDateFilter}}</td>
						<td>{{bean.confirmdate | formetDateFilter}}</td>
						<td>
							<button @click="showOrderItems(bean)"
								class="orderPageCheckOrderItems btn btn-primary btn-xs">查看详情</button>
							<button v-if="bean.status=='待发货'"
								@click="deliveryOrder(bean,$event)"
								class="btn btn-primary btn-xs">发货</button>
						</td>
					</tr>
					<tr class="orderPageOrderItemTR" :id="'orderItemsTR'+bean.id">
						<td colspan="10" align="center">
							<div class="orderPageOrderItem">
								<table width="800px" align="center"
									class="orderPageOrderItemTable">
									<tr v-for="orderItem in bean.orderItemDTO">
										<td align="left"><img width="40px" height="40px"
											:src="'img/productSingle/'+orderItem.productDTO.firstProductImg.id+'.jpg'">
										</td>
										<td>
											<a :href="'product?product.id='+orderItem.productDTO.id">
												<span>{{orderItem.productDTO.name}}</span> 
											</a>
										</td>
										<td align="right">
											<span class="text-muted">{{orderItem.number}}个</span>
										</td>
										<td align="right">
											<span class="text-muted">单价：￥ {{orderItem.productDTO.promoteprice}}</span>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
					</template>
				</tbody>
			</table>
		</div>
		<div th:replace="include/admin/adminPage::html" ></div>
	</div>
	<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>